workshop/basic-chatbot-line.json
{
  "name": "1. Agent with memory",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Chat01\"].json.chatInput}}",
        "options": {
          "systemMessage": "=Instruction:\nAnswer the question as truthfully as possible using the provided text, and if the answer is not contained within the text below, say \"I don't know\"\n\n{{ $node[\"HTTP Request1\"].json.data }}\n\nAre you ready to talk with me ?\n"
        }
      },
      "id": "1393095b-ec84-4514-b481-432609d1a5c5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "content": "### Readme\nChat with an AI agent that remembers your previous messages during a conversation.\n\n**Quick Start**\n1. Open the **Model** node to claim your free API credits and connect to OpenAI. \n2. Click the **Open chat** button to start talking to the agent. Provide it with some information to remember, like your name.\n3. Ask a follow-up question about the information you shared: \"What's my name?\"\n\n---\n\n**Learn More**\n- [AI Agent node documentation](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/)\n- [Simple Memory node documentation](https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/)",
        "height": 396,
        "width": 392,
        "color": 4
      },
      "id": "658eb127-5a9d-4404-9270-72ef1da36ea3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -32
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "186173c3-d043-4485-b939-9fca3d1e906f",
      "name": "Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "NmnbtbMiwvu65Agk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c2ab6221-0464-4eaa-ac9a-3a208f98147a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        624
      ],
      "id": "7625d41a-8eca-4b5f-8d3b-1acc332b1fcc",
      "name": "Webhook from LINE API",
      "webhookId": "c2ab6221-0464-4eaa-ac9a-3a208f98147a"
    },
    {
      "parameters": {
        "jsCode": "let requests\nlet message = {}\nfor (const item of $input.all()) {\n  requests = item.json.body\n}\nif ('events' in requests) {\n  if ('message' in requests['events'][0]) {\n    if (requests['events'][0]['message']['type'] == 'text' &&\n        'text' in requests['events'][0]['message']) {\n      // Set environment variable\n      $vars.LINE_REPLY_TOKEN = requests['events'][0]['replyToken']\n      \n      message = {\n        'chatInput': requests['events'][0]['message']['text'],\n        'replyToken': requests['events'][0]['replyToken']\n      }\n    }\n  }\n}\nreturn message"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        688
      ],
      "id": "9233fe19-25ff-4b2e-866c-84a6f4e666c0",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{$node[\"Code\"].json[\"replyToken\"]}}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{$node[\"AI Agent2\"].json[\"output\"]}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        624
      ],
      "id": "38298b06-74c8-4af1-a48c-f6fe88388dbc",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i1JAqMx3IRptL76w",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a97aa19-4ea9-4c2a-8491-4e61f884647b",
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        624
      ],
      "id": "6cfba1e1-0a4d-4e1d-b060-3b9294501543",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        832
      ],
      "id": "42219f82-f5e8-4493-8564-2e0d221f4439",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NmnbtbMiwvu65Agk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Instruction:\nAnswer the question as truthfully as possible using the provided text, and if the answer is not contained within the text below, say \"I don't know\"\n\nContext : มุกตลกคาเฟ่\n\nQ : ภาษาอังกฤษพูดได้ไหม\nA : พูดได้\n\nQ: สีเหลือง\nA: เยลโล่\n\nQ: มะม่วง \nA: แมงโก้\n\nQ: เตา\nA: อั้งโล่\n\nQ: มีด \nA: อีโต้\n\nQ: ไฮลักซ์ \nA: รีโว่\n\nQ: รองเท้า \nA: กีโต้\n\nQ: มอไซด์ \nA: ฟิลาโน่\n\nQ: ดารา \nA: โตโน่\n\nQ: กรดเกิน \nA: อีโน\n\nQ: น้ำส้ม \nA: ทิปโก้\n\nQ: ไฟแช็ค \nA: ซิปโป้\n\nQ: เสื้อนอก \nA: แอร์โร่\n\nQ: เสื้อใน \nA: วาโก้\n\nQ: ตกใจ \nA: โอ้ โห้\n\nQ: น่าทึ่ง \nA: เยดโด้วว\n\nQ: นักบอล \nA: โรนัลโด้\n\nQ: โทสับ \nA: วีโว่\n\nQ: เยลลี่ \nA: ปีโป้\n\nQ: ปั้มน้ำมัน \nA: เอสโซ่\n\nQ: แบงก์ \nA: กาโม่\n\nQ: ขนม \nA: ยูโร่\n\nQ: ของเล่น \nA: เลโก้\n\nQ: สามก๊ก \nA: ลิโป้\n\nQ: แกง\nA: พะโล้\n\nAre you ready to talk with me ?\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        912,
        624
      ],
      "id": "d4647499-1fbb-409d-bbcd-6d64f75f48be",
      "name": "AI Agent2",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": \"{{ $json.body.events[0].message.text }}\",\n  \"replyToken\": \"{{ $json.body.events[0].replyToken }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        464
      ],
      "id": "878001de-1313-4240-949a-dae3526748b1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/up1/workshop-n8n/refs/heads/main/workshop/data/joke.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        0
      ],
      "id": "64ee9299-9c3e-4c39-bdff-fe3c6c2bb109",
      "name": "HTTP Request1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "536fa635-c0c8-4fd1-84ef-d19585be64cf",
      "name": "Chat01",
      "webhookId": "9baee3d2-b9cb-4333-b4d5-3b07db8da9b2",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from LINE API": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat01": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "afe5634a-6845-4444-98e8-dada960a6950",
  "meta": {
    "templateId": "035_template_onboarding-agent_with_memory",
    "templateCredsSetupCompleted": true,
    "instanceId": "c095b8954891635bdbfc24cd0c2259a787ae895013251c6f44d1a3f9836ad368"
  },
  "id": "omry21aU74kL9QJJ",
  "tags": []
}