workshop/demo-rag.json
{
  "name": "Demo-RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your text file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".txt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -400,
        -80
      ],
      "id": "9da8131b-964f-490a-b355-8dbfa3b86f30",
      "name": "On form submission",
      "webhookId": "da48f624-6275-4c5f-80b2-daf3a1bc508b"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -192,
        -80
      ],
      "id": "90056f2c-29a7-486a-b1d3-e8b2051bcf24",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        416
      ],
      "id": "f46600ce-79c2-4342-a013-64727a59ed89",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NmnbtbMiwvu65Agk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        64
      ],
      "id": "c3d29dbf-55f9-4c5f-9d72-80167bcb2e85",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Upload Data from Text file",
        "height": 496,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -192
      ],
      "typeVersion": 1,
      "id": "f03bd9f7-ad86-4b2b-ae08-44ce5aa54850",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        608,
        -128
      ],
      "id": "897b7364-5b21-432b-89a9-0aadee02a7f9",
      "name": "When chat message received",
      "webhookId": "68aa7181-167a-4a41-bec4-56e54bf45674"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        64
      ],
      "id": "22b5b524-f29a-4642-a7d0-88f125f348d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NmnbtbMiwvu65Agk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        880,
        -128
      ],
      "id": "b04af20d-7698-47c5-b0eb-4219a76ec5f2",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        848,
        80
      ],
      "id": "82e3cfdc-e831-4105-8a85-f82190c3be3e",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        720,
        256
      ],
      "id": "140947cc-7893-4e5f-bbe0-fde146512b7f",
      "name": "Simple Vector Store for retrieve data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": \"{{ $json.response }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -128
      ],
      "id": "330c032e-4d92-4cbb-a4b3-01e9d0fe99d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Retrive data from Vector DB  and Chat\n",
        "height": 560,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -192
      ],
      "typeVersion": 1,
      "id": "a48a88b8-03ce-4100-8728-8adc9dac2e91",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store for retrieve data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store for retrieve data": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa57c325-8992-4771-8033-d2c837a2f99f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c095b8954891635bdbfc24cd0c2259a787ae895013251c6f44d1a3f9836ad368"
  },
  "id": "Qge7Gn624LsgbfnQ",
  "tags": []
}