workshop/Woking-with-pdf.json
{
  "name": "Woking-with-pdf",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -96
      ],
      "id": "e81b782b-254a-4701-a691-c7dfda9a0d36",
      "name": "When chat message received",
      "webhookId": "b39d590d-843c-4652-ae1c-42061c58f8d7"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        -96
      ],
      "id": "46af4733-e5d6-45b3-8e53-642e83a41366",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ทำการสร้างข้อมูลในรูปแบบ JSON  จากข้อมูลใน section [Data] ซึ่งเป็นหนังสือราชการ ให้แยกหัวข้อสำคัญออกมา\nโดยรูปแบบของ JSON จะเป็นดังนี้:\n1. book_id: เลขที่ของหนังสือ\n2. date: วันที่ในเอกสาร\n3. subject: หัวข้อของหนังสือ\n4. to: เรียน\n5. attach: สิ่งที่ส่งมาด้วย\n6. signed_by: ผู้ลงนาม\n7. signed_position: ตำแหน่งของผู้ลงนาม\n8. contact_phone: เบอร์โทรศัพท์ติดต่อ\n9. contact_email: อีเมลติดต่อ\n\n\n[Data]\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        64,
        -96
      ],
      "id": "f7a92983-5525-43c9-a73a-017730b84c56",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        112
      ],
      "id": "1e3eb767-509c-40c1-8c06-306495ed399e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nJt3cBB5WfxUu31S",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"text\"];\nconst raw_json = raw.replace(/```json\\n?|```/g, \"\").trim();\n\nconst my_json = JSON.parse(raw_json);\n\nreturn {\n  book_id: my_json.book_id,\n  signed_by: my_json.signed_by,\n  signed_position: my_json.signed_position,\n  contact: {\n    \"phone\": my_json.contact_phone,\n    \"email\": my_json.contact_email,\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "c089d8c9-bc39-4159-9e35-11ecd225813e",
      "name": "Code"
    },
    {
      "parameters": {
        "formTitle": "Upload file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -400,
        400
      ],
      "id": "c1671638-328f-44ba-b558-a1cc0b9150d0",
      "name": "On form submission",
      "webhookId": "507fe41d-4e06-4784-b2a3-8d4ba2909036"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://b9aad1cb35e2.ngrok-free.app/process",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "PDF_File"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        400
      ],
      "id": "c0df44ca-ac43-41ab-bfeb-412e4cdeb5f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ทำการสร้างข้อมูลในรูปแบบ JSON  จากข้อมูลใน section [Data] ซึ่งเป็นหนังสือราชการ ให้แยกหัวข้อสำคัญออกมา\nโดยรูปแบบของ JSON จะเป็นดังนี้:\n1. book_id: เลขที่ของหนังสือ\n2. date: วันที่ในเอกสาร\n3. subject: หัวข้อของหนังสือ\n4. to: เรียน\n5. attach: สิ่งที่ส่งมาด้วย\n6. signed_by: ผู้ลงนาม\n7. signed_position: ตำแหน่งของผู้ลงนาม\n8. contact_phone: เบอร์โทรศัพท์ติดต่อ\n9. contact_email: อีเมลติดต่อ\n\n\n[Data]\n{{ $json.result }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        144,
        400
      ],
      "id": "113b491c-49e9-4c7e-bcad-456cde75ca60",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"text\"];\nconst raw_json = raw.replace(/```json\\n?|```/g, \"\").trim();\n\nconst my_json = JSON.parse(raw_json);\n\nreturn {\n  book_id: my_json.book_id,\n  date: my_json.date,\n  signed_by: my_json.signed_by,\n  signed_position: my_json.signed_position,\n  contact: {\n    \"phone\": my_json.contact_phone,\n    \"email\": my_json.contact_email,\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ],
      "id": "fef28bd4-cd24-45cd-a18d-dbc7c9075203",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c71f9d8d-9259-43e3-bd35-f05886f218e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c095b8954891635bdbfc24cd0c2259a787ae895013251c6f44d1a3f9836ad368"
  },
  "id": "4IH89xzX3XuegXQe",
  "tags": []
}