workshop/Workflow01.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        336,
        32
      ],
      "id": "b0f7e067-4ec2-4b67-9b82-6a0941e5dae3",
      "name": "When chat message received",
      "webhookId": "c2a47d86-afa6-4255-8c0a-60b7b8d68012"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        544,
        32
      ],
      "id": "ab809adb-ebaa-4d73-909a-f28b7dc05cb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        272
      ],
      "id": "c4d6f8de-5fcc-4f6a-9bc0-241e6abc0db6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nJt3cBB5WfxUu31S",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        32
      ],
      "id": "26f61674-1ce1-4b51-969c-52799e99bf17",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2c55d3f-aade-4c9c-8cba-eb6767e2ec3b",
  "meta": {
    "instanceId": "c095b8954891635bdbfc24cd0c2259a787ae895013251c6f44d1a3f9836ad368"
  },
  "id": "V73RoQIyo7KvdQqw",
  "tags": []
}