workshop/Workflow02.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        -128
      ],
      "id": "608e9bd7-1938-4d1a-821b-6903704f2ccb",
      "name": "When chat message received",
      "webhookId": "20938ebd-f81c-4d55-ab90-77218b735889"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        -160
      ],
      "id": "79ea1f3a-656e-4d89-998c-b225c36ef05f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nJt3cBB5WfxUu31S",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        -352
      ],
      "id": "ce5382a8-2462-403c-8e6c-e0ceaf264d48",
      "name": "OCR Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "3c12fbdd-c3be-43fb-8a95-5e8e9149bfbe",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "WYoqbIXn9aV1BErz",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47de6553-6f89-4b45-b9a6-f1b9ce67e608",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -128
      ],
      "id": "5058264d-4af0-4e43-8f6b-1d418a5800fd",
      "name": "Check file upload"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        32
      ],
      "id": "10922a9e-f384-4061-bb3e-b3277c520788",
      "name": "Text Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Check file upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OCR Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check file upload": {
      "main": [
        [
          {
            "node": "OCR Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6eca0fa1-aa51-409b-8b2e-23e3efb4771f",
  "meta": {
    "instanceId": "c095b8954891635bdbfc24cd0c2259a787ae895013251c6f44d1a3f9836ad368"
  },
  "id": "VuYN4hQz1v5BeXFG",
  "tags": []
}